{% load static %}
{% load widget_tweaks %}
{% include 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!-- Background Video-->
    <body background="{%static 'css/images/layout/login4.png'%}"  style="overflow-y: hidden; overflow-x: hidden;  background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">

    <div class="row mt-5">
        
    </div>  
    <div class="row mt-5">
        <div class="col-2 mt-5">
            
        </div>
        <div class="col-7 mt-5 ml-5">
    
            <div class="alert alert-light mt-5">
                <h3>
                    <p class="font-weight-bold" style="text-align: center; margin: 0; color: black;">비밀번호를 번경합니다 </p>
                </h3>
            </div>
            {% if error %}
            <div class="alert alert-light mt-">
                <div class="font-weight-bold">입력한 값이 정확하지 않습니다. 다시 확인하세요. </div>
                {{ error }}
            {% endif %}
            <div>
                <form action="" method="post" class="card pt-3" style="margin: 10px;">
                    {% csrf_token %}
                    현재 비밀번호 : 
                    <input name="origin_password" type="password">
                    <br><br>
                    변경할 비밀번호 :
                    <input name="new_password" type="password">
                    <br><br>
                    비밀번호 확인 : 
                    <input name="confirm_password" type="password">
                    <br><br>
                    <div class="form-group">
                        <div class="offset-sm-4 col-sm-6">
                            <input type="submit" value="비밀번호 변경" class="btn btn-info col-sm-8" style="margin-bottom: 20px; margin-top: 20px;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
    
{% endblock content %}
{% block script %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <script>
        var now_utc = Date.now()
        var timeOff = new Date().getTimezoneOffset()*60000;
        var today = new Date(now_utc-timeOff).toISOString().split("T")[0];
        document.getElementById("id_birth_date").setAttribute("max", today);
        
        /*
        var disabledDays = ["2-21-2023","2-24-2023","2-27-2023","2-28-2023","3-3-2023","3-17-2023","4-2-2010","4-3-2010","4-4-2010","4-5-2010"];
        //console.log(disabledDays)
        //utility functions 
        function nationalDays(date) {
            console.log(date)
            var m = date.getMonth(), d = date.getDate(), y = date.getFullYear();
            console.log('Checking (raw): ' + m + '-' + d + '-' + y);
            for (i = 0; i < disabledDays.length; i++) {
                if($.inArray((m+1) + '-' + d + '-' + y,disabledDays) != -1 || new Date() > date) {
                    console.log('bad:  ' + (m+1) + '-' + d + '-' + y + ' / ' + disabledDays[i]);
                    return [false];
                }
            }
            //console.log('good:  ' + (m+1) + '-' + d + '-' + y);
            return [true];
        }
        */

    </script>
        <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <!-- <script src="{% static 'js/scripts.js' %}"></script> -->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
{% endblock script %}        